*{
    box-sizing: border-box;
    border: 1px solid red;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
  }
  
nav{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    background-color: rgb(119, 153, 144);
    align-items: center;
}
nav>div:first-child{
    margin-left: 50%;
}
nav>div:last-child{
    margin-left: auto
}
main.container {
    display: grid;
    min-height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
}
button.hit {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  div.dealer-cards {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  button.deal {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  div.player-cards {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  
  div.d-score {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  
  button.stand {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  
  div.p-score {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
